In [1]:
T=(1,2,3,4,5,6,7)
print(T)
print(type(T))

(1, 2, 3, 4, 5, 6, 7)
<class 'tuple'>

In [2]:
T=(1,2,3,4,5,6,7,-32-53,"apples",'red',2.3,4.5)
print(T)
print(type(T))

(1, 2, 3, 4, 5, 6, 7, -85, 'apples', 'red', 2.3, 4.5)
<class 'tuple'>

In [3]:
T=()
print(T)
print(type(T))

()
<class 'tuple'>

In [5]:
a=(25,)
print(type(a))

<class 'tuple'>

In [6]:
a=(25.3,)
print(type(a))

<class 'tuple'>

In [7]:
a=("hello",)
print(type(a))

<class 'tuple'>

In [8]:
T=(12,35,78,(2,3,4,),(2.4,3.5,5.5),("world","hello"))
print(T)
print(type(T))

(12, 35, 78, (2, 3, 4), (2.4, 3.5, 5.5), ('world', 'hello'))
<class 'tuple'>

# Concatenation of tuple

In [9]:
a=(1,2,3,4)
b=(5,6,7,8)
print(a+b)

(1, 2, 3, 4, 5, 6, 7, 8)

# nesting of tuple

In [12]:
a=(1,2,3,4,5)
b=(6,7,8,9,10)
c=(a,b)
print(a)
print(b)
print(c)

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)
((1, 2, 3, 4, 5), (6, 7, 8, 9, 10))

# multiplying tuple

In [13]:
a=("bat","mat","rat","cat")
b=a*2
print(b)
print(type(b))

('bat', 'mat', 'rat', 'cat', 'bat', 'mat', 'rat', 'cat')
<class 'tuple'>

In [14]:
a=("bat","mat","rat","cat")
b=a*3
print(b)
print(type(b))

('bat', 'mat', 'rat', 'cat', 'bat', 'mat', 'rat', 'cat', 'bat', 'mat', 'rat', 'cat')
<class 'tuple'>

# length of the tuple

In [15]:
a=(12,34,45,56,"cat","bat","mat","rat")
print(len(a))

8

In [16]:
a=(1,2,3,4,5,6,7,8,9,1,2,3,4,10,11,12,12,13,14,15)
print(a)
print(type(a))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 10, 11, 12, 12, 13, 14, 15)
<class 'tuple'>

# count() method

In [18]:
a=(1,2,3,4,5,6,7,8,9,1,2,3,4,10,11,12,12,2,13,14,15,2)
print(a.count(2))
print(a.count(12))
print(a)
print(type(a))

4
2
(1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 10, 11, 12, 12, 2, 13, 14, 15, 2)
<class 'tuple'>

# indexing in tuple

In [19]:
a=(47,32,49,53,65,77,22,33,99,19)
print(a[8])

99

In [20]:
a=(47,32,49,53,65,77,22,33,99,19)
print(a[2])

49

In [21]:
a=(47,32,49,53,65,77,22,33,99,19)
print(a[-4])

22

In [22]:
a=(47,32,49,53,65,77,22,33,99,19)
print(a[-8])

49

# index() method

In [23]:
a=(14,12,36,56,77,33,22,55,11)
x=a.index(77)
print(x)

4

In [24]:
a=(14,12,36,56,77,33,22,55,11,"python","code","data")
x=a.index("code")
print(x)

10

# slicing in tuple

In [26]:
a=(14,12,36,56,77,33,22,55,11)
print(len(a))
print(a[0:6])

9
(14, 12, 36, 56, 77, 33)

In [28]:
a=(14,12,36,56,77,33,22,55,11)
print(len(a))
print(a[:8])

9
(14, 12, 36, 56, 77, 33, 22, 55)

In [29]:
a=(14,12,36,56,77,33,22,55,11)
print(len(a))
print(a[0::2])

9
(14, 36, 77, 22, 11)

In [30]:
a=(14,12,36,56,77,33,22,55,11)
print(len(a))
print(a[0::3])

9
(14, 56, 22)

In [31]:
a=(14,12,36,56,77,33,22,55,11)
print(len(a))
print(a[::3])

9
(14, 56, 22)

In [32]:
a=(14,12,36,56,77,33,22,55,11)
print(a[::-1])

(11, 55, 22, 33, 77, 56, 36, 12, 14)

# repetition in tuple

In [33]:
t=(20)*3
print(t)

60

In [34]:
t=(20.56)*3
print(t)

61.67999999999999

In [36]:
t=('Apple ')*3
print(t)

Apple Apple Apple

In [37]:
t1=(10,9,8,7)
t1[1]=10

TypeError: 'tuple' object does not support item assignment

# deleting in tiple

In [38]:
a=(1,2,3,4,5,6,7)
del(a)
print(a)

NameError: name 'a' is not defined

# tuple() method

In [39]:
b=[12,15,33,44,55,66]
x=tuple(b)
print(x)
print(type(x))

(12, 15, 33, 44, 55, 66)
<class 'tuple'>

In [41]:
"""Convert a list into tuple and reverse it"""

b=[12,15,33,44,55,66,"hello","rishi"]
x=tuple(b)
print(x[::-1])

('rishi', 'hello', 66, 55, 44, 33, 15, 12)

# add items in tuple

In [53]:
"""Add the value 18 in the tuple"""

t1=(12,13,14,15,16,17)
l1=list(t1)
print(l1)
l1.append(18)
print(l1)
t1=tuple(l1)
print(t1)

[12, 13, 14, 15, 16, 17]
[12, 13, 14, 15, 16, 17, 18]
(12, 13, 14, 15, 16, 17, 18)

# remove item from tuple

In [56]:
a=(12,13,14,15,16,17)
t2=list(a)
print(t2)
t2.remove(16)
print(t2)
t2=tuple(t2)
print(t2)

[12, 13, 14, 15, 16, 17]
[12, 13, 14, 15, 17]
(12, 13, 14, 15, 17)

# max() in tuple

In [1]:
a=(12,35,46,77,88,99)
print(max(a))

99

In [3]:
a=(12.89,35.55,46,-77,88.25,-99)
print(max(a))

88.25

In [4]:
a=('hello','apple','orange','brown','datascience')
print(max(a))

orange

# min() in tuple

In [5]:
a=(12,35,46,77,88,99)
print(min(a))

12

In [7]:
a=(12.89,35.55,46,-77,88.25,-99.15)
print(min(a))

-99.15

In [8]:
a=('hello','apple','orange','brown','datascience')
print(min(a))

apple

# unpacking of tuple

In [9]:
fruits=('apple','banana','cherry')
(green,yellow,red)=fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

# using astrisk*

In [10]:
a=('apple','banana','cherry','papita','chiku')
(green,yellow,*red)=a
print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'papita', 'chiku']

In [11]:
fruits=('apple','mango','papaya','cherry','strawberry')
(green,*pink,red)=fruits
print(green)
print(pink)
print(red)

apple
['mango', 'papaya', 'cherry']
strawberry

In [16]:
"""Sort a tuple"""

a=(23,67,54,76,98,91,34,54,-32)
b=list(a)
print(b)
b.sort()
print(b)
b=tuple(b)
print(b)

[23, 67, 54, 76, 98, 91, 34, 54, -32]
[-32, 23, 34, 54, 54, 67, 76, 91, 98]
(-32, 23, 34, 54, 54, 67, 76, 91, 98)

# using loops in tuple

In [17]:
"""Separate positive and negative integer from the tuple"""
a=(12,-21,45,76,78,-32,-54,-22,-11,67,77,88,-55,-44)
n1=[]
n2=[]
a=list(a)
for i in range(len(a)):
    if a[i]>=0:
        n1.append(a[i])
print(n1)
print(tuple(n1))

for i in range(len(a)):
    if a[i]<0:
        n2.append(a[i])
print(n2)
print(tuple(n2))

[12, 45, 76, 78, 67, 77, 88]
(12, 45, 76, 78, 67, 77, 88)
[-21, -32, -54, -22, -11, -55, -44]
(-21, -32, -54, -22, -11, -55, -44)

In [26]:
"""original list of tuple [(1,2),(2,3),(3,4)]
convert it into list of lists [[1,2],[2,3],[3,4]]"""

a= [(1,2),(2,3),(3,4)]
b=[]
print(type(a))
n1=list(a[0])
n2=list(a[1])
n3=list(a[2])
b.append(n1)
b.append(n2)
b.append(n3)
print(b)

<class 'list'>
[[1, 2], [2, 3], [3, 4]]

In [28]:
"""original list of tuple [(1,2),(2,3),(3,4)]
convert [3,5,7]"""

a=[(1,2),(2,3),(3,4)]
b=[]
print(type(a))
n1=a[0]
m1=n1[0]+n1[1]
print(m1)
n2=a[1]
m2=n2[0]+n2[1]
print(m2)
n3=a[2]
m3=n3[0]+n3[1]
print(m3)
b.append(m1)
b.append(m2)
b.append(m3)
print(b)

<class 'list'>
3
5
7
[3, 5, 7]

In [31]:
a=[]
n=int(input('Enter the number of values'))
for i in range(n):
    a.append(int(input('Enter the elements')))
print(a)
print(tuple(a))

Enter the number of values 3
Enter the elements 1
Enter the elements 2
Enter the elements 3

[1, 2, 3]
(1, 2, 3)