In [4]:
s={12,13,14,15}
print(s)
print(type(s))

{12, 13, 14, 15}
<class 'set'>

In [2]:
print(s)

{12, 13, 14, 15}

In [3]:
a={1,2,3,4,6,7,8,-5,-9,12.35,34.56,'apple','cat'}
print(a)

{1, 2, 3, 4, 34.56, 6, 7, 8, 'cat', 'apple', 12.35, -9, -5}

# unordered

In [6]:
b={1,2,3,4,6,7,8,-5,-9,12.35,34.56,'apple','cat'}
print(b[0])

TypeError: 'set' object is not subscriptable

# duplicates not allowed

In [7]:
A={11,22,33,11,44,55,33,66}
print(A)

{33, 66, 22, 55, 11, 44}

In [8]:
A={11,22,33,11,44,55,33,66,2.3,4.5,'apple',2.3,'apple'}
print(A)

{33, 66, 2.3, 4.5, 'apple', 11, 44, 22, 55}

# length of the set

In [9]:
a={12,13,14,15,11,22,33,44}
print(len(a))

8

In [10]:
a={True,False,True,False}
print(a)

{False, True}

In [11]:
a={12,13,14,15,11,22,33,44}
print(a)

{33, 11, 12, 13, 14, 15, 44, 22}

# access items

In [12]:
s={11,22,33,44,55,66,77,88,1.2,2.2,'apple','orange'}
for i in s:
    print(i)

33
66
2.2
orange
1.2
apple
11
44
77
22
55
88

In [13]:
""" Check if apple is in set or not ?"""
s={11,22,33,44,55,66,77,88,1.2,2.2,'apple','orange'}
print('apple'in s)

True

In [14]:
""" Check if 33 is in set or not ?"""
s={11,22,33,44,55,66,77,88,1.2,2.2,'apple','orange'}
print(33 in s)

True

In [15]:
s={11,22,33,44,55,66,77,88,1.2,2.2,'apple','orange'}
print(99 in s)

False

# add items

In [16]:
a={23,11,22,33,44,55,'red','blue','green'}
a.add('orange')
print(a)

{33, 'orange', 'green', 'blue', 11, 44, 'red', 55, 22, 23}

In [18]:
a={23,11,22,33,44,55,'red','blue','green'}
a.add(1.45)
print(a)

{33, 1.45, 'green', 'blue', 11, 44, 'red', 55, 22, 23}

In [19]:
a={23,11,22,33,44,55,'red','blue','green'}
a.add(3,5)
print(a)

TypeError: set.add() takes exactly one argument (2 given)

# update() method

In [22]:
a={23,11,22,33,44,55}
b={'red','blue','green'}
a.update(b)
print(a)

{33, 'green', 'blue', 11, 44, 'red', 23, 22, 55}

In [23]:
a={23,11,22,33,44,55}
b={'red',2.89,'green',5.56}
b.update(a)
print(b)

{33, 2.89, 5.56, 'green', 'red', 11, 44, 23, 22, 55}

# remove item

In [24]:
a={23,11,22,33,44,55,'red','blue','green'}
a.remove(55)
print(a)

{33, 'green', 'blue', 11, 44, 'red', 22, 23}

In [25]:
a={23,11,22,33,44,55,'red','blue','green'}
a.remove('red')
print(a)

{33, 'green', 'blue', 11, 44, 55, 22, 23}

# discard() method

In [26]:
a={23,11,22,33,44,55,'red','blue','green'}
a.discard('red')
print(a)

{33, 'green', 'blue', 11, 44, 55, 22, 23}

In [27]:
a={23,11,2.2,3.3,44,55,'red','blue','green'}
a.discard(3.3)
print(a)

{2.2, 'green', 'blue', 11, 44, 'red', 55, 23}

In [28]:
a={23,11,22,33,44,55,'red','blue','green'}
a.discard('red','blue')
print(a)

TypeError: set.discard() takes exactly one argument (2 given)

In [29]:
a={23,11,22,33,44,55,'red','blue','green'}
a.remove('red','blue')
print(a)

TypeError: set.remove() takes exactly one argument (2 given)

# pop() method

In [30]:
a={23,11,22,33,44,55,'red','blue','green',-11}
a.pop()
print(a)

{'green', 'blue', 11, 44, 'red', -11, 22, 23, 55}

In [31]:
a={23,11,22,33,44,55,'red','blue','green',-11,'hello',5.67}
a.pop()
print(a)

{5.67, 'green', 'blue', 11, 44, 'red', 'hello', -11, 22, 23, 55}

# clear() method

In [33]:
a={23,11,22,33,44,55,'red','blue','green'}
a.clear()
print(a)
print(type(a))

set()
<class 'set'>

# delete() method

In [34]:
a={23,11,22,33,44,55,'red','blue','green'}
del(a)
print(a)

NameError: name 'a' is not defined

# python- join sets -- Union() method

In [36]:
a={23,11,22,33,44,55}
b={'red','blue','green'}
print(a+b)       # cannot add 2 sets by this method

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [37]:
a={23,11,22,33,44,55}
b={'red','blue','green'}
c=a.union(b)
print(a)
print(b)
print(c)

{33, 55, 22, 23, 11, 44}
{'blue', 'red', 'green'}
{33, 'green', 'blue', 11, 44, 'red', 23, 22, 55}

In [38]:
a={23,1.1,22,3.3,44,55}
b={'red','blue','green'}
c=a.union(b)
print(a)
print(b)
print(c)

{1.1, 3.3, 55, 22, 23, 44}
{'blue', 'red', 'green'}
{1.1, 3.3, 'green', 'blue', 'red', 44, 23, 22, 55}

# difference between union and update method

In [39]:
"""update method"""
a={1,2,3}
b={4,5,6}
a.update(b)              # update() method add the items in the existing set
print(a)

{1, 2, 3, 4, 5, 6}

In [41]:
a={1,2,3}
b={4,5,6}
c=a.update(b)            # cannot allow update() function in other variable            
print(c)

None

In [43]:
a={1,2,3}
b={4,5,6}
c=a.union(b)              # union() method add the items in the new set   
print(c)

{1, 2, 3, 4, 5, 6}

# intersection_update() method

In [44]:
a={1,2,3,5}
b={4,5,6,1}
a.intersection_update(b)                  
print(a)

{1, 5}

In [45]:
a={23,1.1,22,3.3,44,55,'red'}
b={'red','blue','green'}
b.intersection_update(a)
print(b)

{'red'}

# intersection() method

In [48]:
a={23,1.1,22,3.3,44,55,'red'}
b={'red','blue','green'}
c=b.intersection(a)
print(c)

{'red'}

In [51]:
x={1.2,2.2,3.3,4.4,5.5}
y={4.4,3.5,2.2}
z=x.intersection(y)
print(z)

{2.2, 4.4}

# difference() method

In [52]:
"""return a set that contains the items that only exist in set x not in set y"""

x={11,22,33,44,55,66,'apple','mumbai','goa'}
y={99,88,77,13,12,'mumbai',22}
z=x.difference(y)
print(z)

{33, 66, 'goa', 'apple', 11, 44, 55}

In [53]:
x={11,22,33,44,55,66,'apple','mumbai','goa'}
y={99,88,77,13,12,'mumbai',22}
z=y.difference(x)
print(z)

{99, 12, 13, 77, 88}

# difference_update() method

In [54]:
""" remove the items that exists in both sets"""

a={11,22,33,44,55,66,'hello','apple'}
b={66,'apple'}
a.difference_update(b)
print(a)

{33, 11, 44, 'hello', 22, 55}

In [56]:
a={11,22,33,44,55,66,'hello','apple'}
b={66,'apple'}
b.difference_update(a)
print(a)
print(b)

{33, 66, 'apple', 11, 44, 'hello', 22, 55}
set()

# symmetric_difference_update() method

"""this method will keep only the elements that are NOT present in both sets"""

In [57]:
a={11,22,33,44,55,66,'hello','apple'}
b={21,31,41,51,66,'apple'}
a.symmetric_difference_update(b)
print(a)

{33, 41, 11, 44, 'hello', 51, 21, 22, 55, 31}

In [58]:
a={11,22,33,44,55,66,'hello','apple'}
b={21,31,41,51,66,'apple'}
b.symmetric_difference_update(a)
print(b)

{33, 41, 11, 44, 'hello', 51, 21, 22, 55, 31}

# symmetric_difference() method

"""This method will return a new set,that contains only the elements that are NOT present in both sets"""

In [59]:
a={11,22,33,44,55,66,'hello','apple'}
b={21,31,41,51,66,'apple'}
c=a.symmetric_difference(b)
print(c)

{33, 41, 11, 44, 'hello', 51, 21, 22, 55, 31}

In [60]:
a={11,22,33,44,55,66,'hello','apple'}
b={21,31,41,51,66,'apple'}
c=b.symmetric_difference(a)
print(c)

{33, 41, 11, 44, 'hello', 51, 21, 22, 55, 31}

# isdisjoint() method

"""return True if no item in set x is present in set y"""

In [62]:
x={1,2,3,"apple"}
y={4,5,6}
z=x.isdisjoint(y)
print(z)

True

In [63]:
x={1,2,3,"apple"}
y={4,5,6,1}
z=x.isdisjoint(y)
print(z)

False

# issubset() method

"""return whether another set contains this set or not"""

In [64]:
a={1,2,3,4}
b={1,2,3,4,5,6,7}
c=a.issubset(b)
print(c)

True

In [65]:
a={1,2,3,4}
b={1,2,3,4,5,6,7}
c=b.issubset(a)
print(c)

False

In [66]:
a={1,2,3,4}
b={1,2,3,4}
c=a.issubset(b)
print(c)

True

# issuperset() method

"""return True if all items set y are presend in set x"""

In [68]:
x={'apple','cherry','north','mumbai','python',1,2,3}
y={'apple',1,2,3,'north'}
z=x.issuperset(y)
print(z)

True

In [69]:
x={'apple','cherry','north','mumbai','python',1,2,3}
y={'apple',1,2,3,'north'}
z=y.issuperset(x)
print(z)

False

In [70]:
a={1,2,3}
b={1,2,3}
c=a.issuperset(b)
print(c)

True

In [71]:
a={1,2,3}
b={1,2,3}
c=b.issuperset(a)
print(c)

True

In [73]:
a={1}
print(a)
print(type(a))

{1}
<class 'set'>

In [75]:
b={}
print(b)
print(type(b))

{}
<class 'dict'>

In [76]:
a=set()
print(a)
print(type(a))

set()
<class 'set'>

# set() function

In [77]:
a=[1,2,3,4]
b=set(a)
print(a)
print(type(a))
print(b)
print(type(b))

[1, 2, 3, 4]
<class 'list'>
{1, 2, 3, 4}
<class 'set'>

In [78]:
s={11,22,33,44,55}
l=list(s)
print(s)
print(type(s))
print(l)
print(type(l))

{33, 22, 55, 11, 44}
<class 'set'>
[33, 22, 55, 11, 44]
<class 'list'>

In [79]:
t=(11,22,33,44,55)
s=set(t)
print(t)
print(type(t))
print(s)
print(type(s))

(11, 22, 33, 44, 55)
<class 'tuple'>
{33, 11, 44, 22, 55}
<class 'set'>

In [80]:
s={11,22,33,44,55,66}
t=tuple(s)
print(s)
print(type(s))
print(t)
print(type(t))

{33, 66, 22, 55, 11, 44}
<class 'set'>
(33, 66, 22, 55, 11, 44)
<class 'tuple'>

# min() in set

In [81]:
a={12,13,16,17,-22}
print(min(a))

-22

In [83]:
a={'mumbai','boy','cat','mat','python'}
print(min(a))

boy

# max() in set

In [84]:
a={12,13,16,17,-22}
print(max(a))

17

In [85]:
a={'mumbai','boy','cat','mat','python'}
print(max(a))

python

# copy() method

"""why we need copy method ?"""

In [86]:
a={1,2,3,4,5,6,7}
b=a
a.add(10)
print(a)
print(b)

{1, 2, 3, 4, 5, 6, 7, 10}
{1, 2, 3, 4, 5, 6, 7, 10}

In [87]:
a={1,2,3,4,5,6,7}
b=a.copy()
a.add(10)
print(a)
print(b)

{1, 2, 3, 4, 5, 6, 7, 10}
{1, 2, 3, 4, 5, 6, 7}

In [90]:
"""Intersection of 2 lists"""
a=[2,4,6,8,9]
b=[1,2,6,3,4]
c=set(a)
d=set(b)
print(c)
print(d)
x=c.intersection(d)
print(x)
x=list(x)
print(x)

{2, 4, 6, 8, 9}
{1, 2, 3, 4, 6}
{2, 4, 6}
[2, 4, 6]

In [91]:
""" Taking input in set from user"""

a=set()
n=int(input('enter the number of elements'))
for i in range(n):
    b=input('enter elements:')
    a.add(b)
print(a)

enter the number of elements 3
enter elements: 1
enter elements: 2
enter elements: 3

{'3', '1', '2'}

In [92]:
""" Taking input in set from user"""

a=set()
n=int(input('enter the number of elements'))
for i in range(n):
    b=input('enter elements:')
    a.add(b)
print(a)

enter the number of elements 10
enter elements: 1
enter elements: 2
enter elements: 3
enter elements: 4
enter elements: 5
enter elements: 6
enter elements: 7
enter elements: 8
enter elements: 9
enter elements: 0

{'7', '4', '8', '2', '9', '6', '0', '3', '1', '5'}

In [94]:
"""python program to find the common items in 3 lists using sets"""

a1=[1,2,3,4,5,6]
a2=[1,6,5,7,8,9]
a3=[1,6,3,8,9,2]
a=set(a1)
b=set(a2)
c=set(a3)
d=a.intersection(b,c)
print(d)
print(list(d))

{1, 6}
[1, 6]